header {
    padding: 10px 0;
    padding-bottom: 100px;
    position: relative;  /* Required for pseudo-element positioning */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Images/about_background.png');
    background-size: cover;  /* Adjust as needed */
    z-index: -1;  /* Ensures the pseudo-element is behind the content */
}

header h3{
    padding-top: 50px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    height: 100px;
    backdrop-filter: blur(50px);
    border-radius: 5px;
}

.logo img {
    height: 100px;
    width: 100px;
}

.nav_links ul {
    list-style: none;
    margin: 0;
    padding: 50px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.nav_links ul li {
    margin-left: 50px;
    border-right: 3px solid white;
    padding-right: 40px;
    box-sizing: border-box;
}

.nav_links ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.4s ease;
}

.nav_links ul li a:hover {
    color: white;
}

body{
    margin: 0;
    background-color: rgb(243, 254, 243);
}

.aboutus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#intro{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
    border-bottom: 3px solid rgb(255, 0, 0);
}

#intro h3{
    font-size: 40px;
}

#text b{
    font-size: 32px;
}

#text p{
    font-size: 18px;
}

.line_design {
    border: 0;
    height: 50px;
    width: 90%;
    background-image: url('Images/line_design.png');
    background-repeat: repeat-x;
    background-position: center;
}

.our_section{
    display: flex;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #fff1f1;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(255, 0, 0, 0.5); /* Add a slight shadow */
}

.our_section #text{
    padding-left: 50px;
    padding-right: 50px;
    flex: 1;
    padding-top: 20px;
}

.our_section #image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_section #image img{
    max-width: 50rem;
    max-height: 15rem;
    object-fit: contain;
    border-radius: 20px;
}

#final_text{
    margin-right: 50px;
    margin-left: 50px;
    flex: 1;
    border-radius: 20px;
    padding-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.icons{
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 5%;
    display: none;
}

.nav_bar_dropdown{
    display: none;
    text-align: center;
    max-width: 1300px;
    padding: 10px;
    background-color: black;
}

.nav_links_dropdown ul {
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.nav_links_dropdown ul li {
    padding: 10px 20px; /* Adjust padding as needed */
}

.nav_links_dropdown ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.4s ease;
}

.nav_links_dropdown ul li a:hover {
    color: white;
}

html{
    scroll-behavior: smooth;
}

#check{
    display: none;
}



/* Basic styling for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/* Style links in the footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {

    .nav_links {
      display: none;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; /* Make it clickable */
    }
      
    #menu_icon {
        font-size: 2rem; /* adjust font size as needed */
        color: white; /* adjust color as needed */
    }

    #intro{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 60px;
        border-bottom: 3px solid rgb(255, 0, 0);
    }

    .our_section{
        display: block;
        margin-left: 2%;
        margin-right: 2%;
    }

    #text p{
        font-size: 15px;
    }

    .our_section #text{
        padding-left: 5px;
        padding-right: 5px;
    }

    #final_text{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 16px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
}


@media (max-width: 300px) {
    .our_section #image img{
        width: 10rem;
        height: 10rem;
    }
}

